@import url('https://fonts.googleapis.com/css2?family=Inter:opsz,wght@14..32,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

body {
  width: 100%;
  min-height: 100vh;
  background-color: #eee;
  display: flex;
  justify-content: center;
  align-items: center;
}

.chatbot-popup {
  position: relative;
  width: 420px;
  overflow: hidden;
  background: #fff;
  border-radius: 15px;
  box-shadow: 0 0 128px 0 rgba(0, 0, 0, 0.1),
    0 32px 64px -48px rgba(0, 0, 0, 0.5);
}

.chatbot-popup .chat-header {
  display: flex;
  padding: 15px 22px;
  align-items: center;
 

  background-color: #FADADD;
background-image: linear-gradient(147deg, #FADADD 0%, #fc6c85 74%);

  justify-content: space-between;
}

.chat-header .header-info {
  display: flex;
  gap: 10px;
  align-items: center;
}

.header-info img {
  width: 60px;
  height: 60px;

  padding: 6px;

  border-radius: 50%;
}

.header-info .logo-text {
  color: #fff;
  font-weight: 600;
  font-size: 1.31rem;
  letter-spacing: 0.02rem;
}

.chat-header button {
  border: none;
  height: 40px;
  width: 40px;
  color: #fff;
  cursor: pointer;
  padding-top: 2px;
  margin-right: -10px;
  font-size: 1.9rem;
  border-radius: 50%;
  background: none;
  transition: 0.2s ease;
}

.chat-header button:hover {
  background: #fc6c85;
}

.chat-body {
  display: flex;
  flex-direction: column;
  gap: 20px;
  height: 460px;
  overflow-y: auto;
  margin-bottom: 82px;
  padding: 25px 22px;
  scrollbar-width: thin;
  scrollbar-color: #DDD3F9 transparent;

  background-image: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
  ;
}

.chat-body .message {
  display: flex;
  gap: 11px;
  align-items: center;

}

.chat-body .message img {

  flex-shrink: 0;
  padding: 6px;

  align-self: flex-end;
  margin-bottom: 2px;
 
  border-radius: 50%;

  width: 60px;
  height: 60px;

  padding: 6px;

 
}

.chat-body .message .message-text {
  padding: 12px 16px;
  max-width: 75%;
  font-size: 0.95rem;
  word-wrap: break-word;
  white-space: pre-line;


}

.chat-body .message.error .message-text {
  color: #ff0000;
}

.chat-body .bot-message .message-text {
  background-color: #fff;
  border-radius: 13px 13px 13px 3px;
}

.chat-body .user-message {
  flex-direction: column;
  align-items: flex-end;
}

.chat-body .user-message .message-text {
  color: #fff;
  background-color: #FADADD;
  background-image: linear-gradient(147deg, #FADADD 0%, #fc6c85 74%);
  border-radius: 13px 13px 3px 13px;
}

.chat-footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  background: #fff;
  padding: 15px 22px 20px;
}

.chat-footer .chat-form {
  display: flex;
  align-items: center;
  position: relative;
  background: #fff;
  border-radius: 32px;
  outline: 1px solid #CCCCE5;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.06);
}

.chat-form:focus-within {
  outline: 2px solid #fc6c85;
}

.chat-form .message-input {
  width: 100%;
  height: 47px;
  border: none;
  outline: none;
  font-size: 0.95rem;
  padding: 0 17px;
  background: none;
}

.chat-form #send-message {
  height: 35px;
  width: 35px;
  border: none;
  flex-shrink: 0;
  color: #fff;
  cursor: pointer;
  display: none;
  margin-right: 6px;
  background-color: #FADADD;
  background-image: linear-gradient(147deg, #FADADD 0%, #fc6c85 74%);
  border-radius: 50%;
  font-size: 1.15rem;
  transition: 0.2s ease;
}

.chat-form .message-input:valid~#send-message {
  display: block;
}

.chat-form #send-message:hover {
  background-color: #FADADD;
  background-image: linear-gradient(147deg, #FADADD 0%, #fc6c85 74%);;
}



/* @media (max-width: 520px) {
 
  .chatbot-popup {
    right: 0;
    bottom: 0;
    height: 100%;
    border-radius: 0;
    width: 100%;
  }

  .chatbot-popup .chat-header {
    padding: 12px 15px;
  }

  .chat-body {
    height: calc(90% - 55px);
    padding: 25px 15px;
  }

  .chat-footer {
    padding: 10px 15px 15px;
  }
}  */

@media (max-width: 520px) {
  .chatbot-popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    border-radius: 0;
  }

  .chatbot-popup .chat-header {
    padding: 10px;
    display: flex;
    align-items: center;
  }

  .header-info img {
    width: 50px;
    height: 50px;
  }

  .header-info .logo-text {
    font-size: 1.5rem;
  }

  .chat-body {
    height: calc(100vh - 35px);
    overflow-y: auto;
    margin-top: 20px;
  }

  .chat-footer {
    width: 100%;
    position: absolute;
    bottom: 0;
    padding: 35px;
  }
}
























